*.pyc
*.joblib
*.ps1
*.cmd
prediction_app_improved/prediction-app-frontend/node_modules/
/prediction-app-frontend/node_modules
/backend/venv
/frontend/node_modules
/frontend/node_modules
/frontend/node_modules
frontend/node_modules/.cache/babel-loader/591eb861a8daa41d3d2f0d58b794d993b307c76341d28c4092dc5d454819bdb6.json
/frontend/node_modules
frontend/node_modules/.cache/babel-loader/06f49bbe6fa028bfc07980c79533a65aa78573b9af6ff693f565482e10159fab.json
frontend/node_modules/.cache/babel-loader/591eb861a8daa41d3d2f0d58b794d993b307c76341d28c4092dc5d454819bdb6.json
frontend/node_modules/.cache/babel-loader/ae660d26bf0d0662dc99f9e4c13b4adbbad3534e930a8a27211911640530b1af.json
frontend/node_modules/.cache/babel-loader/cd278abfcfbe19b079a0f207cfe8371090f5eadd65c5499dbfcb42c05ea39dc7.json
frontend/node_modules/.cache/babel-loader/d4cab3960d4d28612f8805daff97137de273bfa19c625277ab40b5bf488bce27.json
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/types/resolve.d.mts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/types/resolve.d.cts.map
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/types/resolve.d.cts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/types/flatten-map.d.mts.map
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/types/flatten-map.d.mts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/types/flatten-map.d.cts.map
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/types/flatten-map.d.cts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/types/by-source.d.mts.map
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/types/by-source.d.mts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/types/by-source.d.cts.map
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/types/by-source.d.cts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/types/binary-search.d.mts.map
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/types/binary-search.d.mts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/types/binary-search.d.cts.map
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/types/binary-search.d.cts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/src/types.ts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/src/trace-mapping.ts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/src/strip-filename.ts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/src/sourcemap-segment.ts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/src/sort.ts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/src/resolve.ts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/src/flatten-map.ts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/src/by-source.ts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/src/binary-search.ts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/README.md
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/package.json
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/LICENSE
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/dist/trace-mapping.umd.js.map
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/dist/trace-mapping.umd.js
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/dist/trace-mapping.mjs.map
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/trace-mapping/dist/trace-mapping.mjs
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/types/types.d.mts.map
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/types/types.d.mts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/types/types.d.cts.map
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/types/types.d.cts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/types/sourcemap-segment.d.mts.map
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/types/sourcemap-segment.d.mts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/types/sourcemap-segment.d.cts.map
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/types/sourcemap-segment.d.cts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/types/set-array.d.mts.map
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/types/set-array.d.mts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/types/set-array.d.cts.map
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/types/set-array.d.cts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/types/gen-mapping.d.mts.map
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/types/gen-mapping.d.mts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/types/gen-mapping.d.cts.map
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/types/gen-mapping.d.cts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/src/types.ts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/src/sourcemap-segment.ts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/src/set-array.ts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/src/gen-mapping.ts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/README.md
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/package.json
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/LICENSE
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/dist/types/types.d.ts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/dist/types/sourcemap-segment.d.ts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/dist/types/set-array.d.ts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/dist/types/gen-mapping.d.ts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/dist/gen-mapping.umd.js.map
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/dist/gen-mapping.umd.js
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/dist/gen-mapping.mjs.map
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@jridgewell/gen-mapping/dist/gen-mapping.mjs
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@ampproject/remapping/README.md
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@ampproject/remapping/package.json
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@ampproject/remapping/LICENSE
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@ampproject/remapping/dist/types/types.d.ts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@ampproject/remapping/dist/types/source-map.d.ts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@ampproject/remapping/dist/types/source-map-tree.d.ts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@ampproject/remapping/dist/types/remapping.d.ts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@ampproject/remapping/dist/types/build-source-map-tree.d.ts
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@ampproject/remapping/dist/remapping.umd.js.map
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@ampproject/remapping/dist/remapping.umd.js
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@ampproject/remapping/dist/remapping.mjs.map
prediction_app_improved/prediction-app-frontend/node_modules/.pnpm/@ampproject+remapping@2.3.0/node_modules/@ampproject/remapping/dist/remapping.mjs
frontend/node_modules/.cache/babel-loader/06f49bbe6fa028bfc07980c79533a65aa78573b9af6ff693f565482e10159fab.json
frontend/node_modules/.cache/babel-loader/591eb861a8daa41d3d2f0d58b794d993b307c76341d28c4092dc5d454819bdb6.json
frontend/node_modules/.cache/babel-loader/ae660d26bf0d0662dc99f9e4c13b4adbbad3534e930a8a27211911640530b1af.json
frontend/node_modules/.cache/babel-loader/cd278abfcfbe19b079a0f207cfe8371090f5eadd65c5499dbfcb42c05ea39dc7.json
frontend/node_modules/.cache/babel-loader/d4cab3960d4d28612f8805daff97137de273bfa19c625277ab40b5bf488bce27.json
frontend/node_modules/.cache/babel-loader/06f49bbe6fa028bfc07980c79533a65aa78573b9af6ff693f565482e10159fab.json
frontend/node_modules/.cache/babel-loader/591eb861a8daa41d3d2f0d58b794d993b307c76341d28c4092dc5d454819bdb6.json
frontend/node_modules/.cache/babel-loader/ae660d26bf0d0662dc99f9e4c13b4adbbad3534e930a8a27211911640530b1af.json
frontend/node_modules/.cache/babel-loader/cd278abfcfbe19b079a0f207cfe8371090f5eadd65c5499dbfcb42c05ea39dc7.json
frontend/node_modules/.cache/babel-loader/d4cab3960d4d28612f8805daff97137de273bfa19c625277ab40b5bf488bce27.json
/backend/logs
backend/.env
backend/.env
backend/logs/app.log
