{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
  {% if original and has_change_permission %}
    <li>
      <a href="{% url 'admin:equipamentos_equipamento_variables_export' original.pk %}">
        Exportar variáveis
      </a>
    </li>
    <li>
      <a href="{% url 'admin:equipamentos_equipamento_variables_import' original.pk %}">
        Importar variáveis
      </a>
    </li>
  {% endif %}
  {{ block.super }}
{% endblock %}
